<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>inhan blog</title>
    </head>
    <body>
        <h1>inhan blog</h1>
        <ul id="container">
            {{#posts}}
            <li style="display:flex; gap:10px; margin:5px 0;">
                <div>
                    <a href="{{url}}">{{title}}</a>
                </div>
                <div>{{dateString}}</div>
            </li>
            {{/posts}}
        </ul>
    </body>
</html>
