<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>inhan blog</title>
        <link
            rel="stylesheet"
            href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
        />
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <style>
            #loading {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 9999;
                width: 100vw;
                height: 100vh;
                background: rgba(0, 0, 0, 0.5);
                visibility: hidden;
            }
            #loading.show {
                visibility: visible;
            }
            .lds-ellipsis {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80px;
                height: 80px;
            }
            .lds-ellipsis div {
                position: absolute;
                top: 33px;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background: #fff;
                animation-timing-function: cubic-bezier(0, 1, 1, 0);
            }
            .lds-ellipsis div:nth-child(1) {
                left: 8px;
                animation: lds-ellipsis1 0.6s infinite;
            }
            .lds-ellipsis div:nth-child(2) {
                left: 8px;
                animation: lds-ellipsis2 0.6s infinite;
            }
            .lds-ellipsis div:nth-child(3) {
                left: 32px;
                animation: lds-ellipsis2 0.6s infinite;
            }
            .lds-ellipsis div:nth-child(4) {
                left: 56px;
                animation: lds-ellipsis3 0.6s infinite;
            }
            @keyframes lds-ellipsis1 {
                0% {
                    transform: scale(0);
                }
                100% {
                    transform: scale(1);
                }
            }
            @keyframes lds-ellipsis3 {
                0% {
                    transform: scale(1);
                }
                100% {
                    transform: scale(0);
                }
            }
            @keyframes lds-ellipsis2 {
                0% {
                    transform: translate(0, 0);
                }
                100% {
                    transform: translate(24px, 0);
                }
            }
        </style>
    </head>
    <body>
        <h1>포스트 수정</h1>

        <label for="menu">카테고리</label>
        <select name="menu">
            {{#menu}}
                <option value="{{id}}">{{name}}</option>
            {{/menu}}
        </select>
        
        <label for="title">제목</label>
        <input id="title" type="text" name="title" />

        <label for="date">일자</label>
        <div id="date"></div>

        <label for="content">내용</label>
        <div id="editor"></div>

        <button id="btnSave">저장</button>

        <div id="loading">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </body>
</html>
