<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>inhan's blog</title>
        <link rel="stylesheet" href="normalize.css" />
        <link rel="stylesheet" href="default.css" />
        <link rel="stylesheet" href="loader.css" />
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
    <div class="container">
        <div class="header">
            <div class="logo"><a href="./">inhan's blog</a></div>
            <div class="menu"><a href="./">Home</a> / <a href="about">About</a></div>
        </div>

        <div class="contents">
            <div class="nav">
                <ul>
                    {{! <li class="active"><a href="all/page/1">전체</a></li> }}
                    {{#menuList}}
                        <li class="{{className}}"><a href="{{id}}/page/1">{{name}} ({{count}})</a></li>
                    {{/menuList}}
                </ul>
                <div style="margin-top:3rem;"><a href="/writePost.html" style="font-weight:600;">✏️ Write post</a></div>
            </div>
            <div class="main">
                <ul id="container" class="post-list">
                    {{#posts}}
                        <li>
                            <div class="title"><a href="{{url}}">{{title}}</a></div>
                            <div class="sub-info">
                                <div class="menu">{{menuName}}</div>
                                <div class="date">{{dateString}}</div>
                                <div data-postmenu="{{menu}}" data-postdatekey="{{dateKey}}" data-postid="{{id}}">
                                    <button data-action="delete">Delete</button>
                                    <button data-action="edit">Edit</button>
                                </div>
                            </div>
                        </li>
                    {{/posts}}
                    {{^posts}}
                        <li>글이 존재하지 않습니다</li>
                    {{/posts}}
                </ul>

                {{#usePaging}}
                    <ul id="pagination" class="paging">
                        {{#pageNumbers}}
                            {{#active}}
                                <li class="active">{{num}}</li>
                            {{/active}}
                            {{^active}}
                                <li><a href="all/page/{{num}}">{{num}}</a></li>
                            {{/active}}
                        {{/pageNumbers}}
                    </ul>
                {{/usePaging}}
            </div>
        </div>

        <div id="loading">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </body>
</html>
