<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>inhan's blog</title>
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
        />
        <link
            rel="stylesheet"
            href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"
        />
        <link rel="stylesheet" href="normalize.css" />
        <link rel="stylesheet" href="default.css" />
        <link rel="stylesheet" href="loader.css" />
        <link rel="stylesheet" href="main.css" />
        
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
        
        <style>
            .container {
                width: 90%;
            }
            .contents {
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="logo"><a href="./">inhan's blog</a></div>
                <div class="menu"><a href="./">Home</a> / <a href="about">About</a></div>
            </div>

            <div class="contents">
                <div class="edit">
                    <h1>포스트 작성</h1>

                    <div class="form">
                        <div class="toolbar">
                            <button id="btnSave">저장</button>
                        </div>
                        <div>
                            <label for="menu">카테고리</label>
                            <select name="menu">
                                {{#menu}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/menu}}
                            </select>
                        </div>
                        <div>
                            <label for="title">제목</label>
                            <input type="text" name="title" class="title" />
                        </div>
                    </div>

                    <div id="editor"></div>
                </div>
            </div>

            <div id="loading">
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </body>
</html>
